{% extends 'base/base.html' %}
{% load static %}
{% block allcontent %}        
<section>
  {% block side_navbar %}
  {% include 'base/side_nav.html' %}
  {% endblock %}
  <div class="mx-auto ms-lg-80">
    <section>
      {% include 'base/top_nav.html' %}      
    </section>
    <section class="py-8"><div class="container">
        <div class="text-center rounded">
          <h2 class="mb-2">
            <span class="text-black" contenteditable="false">Student </span>
            <span class="text-warning" contenteditable="true">Analytics</span>
          </h2>
          <div class="mx-auto">
            <img class="image-fluid" src="{% static "artemis-assets/images/student.webp" %}" alt=""></div>
        </div>
      </div>
    </section>
    </div>
</section>
{% endblock allcontent %}
